body {
  max-width: 1136px;
  background-color: rgba(238, 243, 248, 1);
  margin: 0 auto;
}

.page-header {
  margin-top: 22px;
  margin-bottom: 36px;
  width: 100%;
  margin-left: 22px;
  font-family: Hind;
  font-size: 25px;
  font-weight: 600;
  line-height: 40.03px;
  letter-spacing: 0.02em;
  color: rgba(255, 163, 0, 1);
}